/*
 * @Author: xuanjidd 
 * @Date: 2018-07-15 11:33:53 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-10-01 21:47:34
 */

 @mixin border-ri {
    border-radius: 25px 50px 25px 50px;
  }
  
  @mixin wh($width, $height) {
    width: $width;
    height: $height;
  }
  
  @mixin box ($margin, $padding) {
    margin: $margin;
    padding: $padding;
  }
  
  * {
    @include box(0, 0);
    box-sizing: border-box;
  }
  
  body {
    background: rgb(163, 223, 193);
    width: 100%;
  }
  
  header {
    @include box(0 auto, 0);
    @include wh(100%, 600px);
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  
  .header-c {
    @include box(-150px 0 0 -150px, 0);
    @include wh(300px, 300px);
    position: relative;
    border-radius: 50%;
    background: #3366ff;
    left: 50%;
    top: 200px;
    box-shadow: 0px 0px 10px rgb(5, 63, 240);
    &:hover {
        opacity: 0.8;
        transform: scale(1.5);
      }
    h1 {
      line-height: 300px;
      color: rgb(231, 133, 5);
      text-shadow: 4px -6px 10px rgb(95, 149, 219);
      font-size: 50px;
      transition: all 1s;
      &:hover {
        color: rgb(255, 9, 62);
        opacity: 0.9;
      }
    }
  }
  
  .title {
    @include wh(100%, 50px);
    @include box(0 0 0 0, 0);
    border-bottom: 1px solid rgb(58, 111, 209);
    p {
        text-align: center;
      font-size: 30px;
      color: rgb(19, 5, 95);
      transition: all 2s;
      &:hover{
        transform: scale(2);
        font-weight: 900;
        text-shadow: 5px 5px -4px #3366ff;
    }
    }

  }
  
  /*主体*/
  
  .body {
    @include wh(100%, 1111px);
    @include box(0 0 0 0, 0);
    position: relative;
    
    

  }
  
  .main {
    @include box(auto , 0);
    @include wh(80%, 500px);

    
  }
  
  .part1 {
    @include border-ri;
    @include box(50px 100px 23px 0, 0);
    @include wh(42%, 200px);
    display: inline-block;
    position: relative;
    background: #ffffcc;
    box-shadow: 5px 5px 5px rgb(128, 133, 139);
    overflow: auto;
    transition: all 1s;
    &:hover {
    background: #f5f5ad;
    margin-top: -2px;
    }
  }
  
  .float {
    @include box(-40px 0 0 -40px, 0);
    @include wh(100px, 100px);
    position: absolute;
    top: 50%;
    left: 25%;
    background: rgb(34, 189, 163);
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
    box-shadow: 3px 3px 5px rgb(128, 133, 139);
    a {
      font-size: 40px;
      display: inline-block;
      color: #ccff66;
      text-decoration: none;
    }
    &:hover {
      background: #990000;
    }
  }
  
  .part1-1 {
    @include box(10% 0 0 50%, 0);
    h4 {
      line-height: 40px;

      font: {
        size: 30px;
        family: KaiTi;
      };
    }
    p {
      @include box(-20px 0 0 0, 0);
      line-height: 50px;
      font-family: NSimSun;
      &:nth-child(2) {
        color: rgb(100, 99, 99);
        font-style: italic;
      }
    }
  }
  
  footer {
    @include wh(100%, 50px);
    clear: both;
    background: #3366ff;
    text-align: center;
    line-height: 50px;
    p {
      color: white;
      transition: all 1s;
      &:hover{
        color: #3d15cc;
      }
    }
  }