/* 版心 */
.jd_container {
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  height: 1000px;
}

/* d顶部搜索 */
.jd_search {
  width: 100%;
  height: 40px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.jd_search .jd_search_box {
  height: 40px;
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  background: rgba(235, 10, 10, 0);
  position: relative;
}

.jd_search .jd_search_box .icon_logo {
  position: absolute;
  left: 10px;
  top: 4px;
  width: 60px;
  height: 40px;
  background-position: 0 -103px;
}

.jd_search .jd_search_box .login {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.jd_search .jd_search_box form {
  width: 100%;
  padding-left: 70px;
  padding-right: 50px;
}

.jd_search .jd_search_box form .icon_search {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 80px;
  top: 10px;
  background-position: -60px -109px;
}

.jd_search .jd_search_box form input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background: #fff;
  border-radius: 15px;
  padding-left: 40px;
}

/* 轮播图 */

.jd_banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.jd_banner ul:first-child {
  width: 1000%;
  transform: translateX(-10%);
}

.jd_banner ul:first-child li {
  width: 10%;
  float: left;
}

.jd_banner ul:first-child li a {
  display: block;
  width: 100%;
}

.jd_banner ul:first-child li a img {
  display: block;
  width: 100%;
}

.jd_banner ul:last-child {
  position: absolute;
  width: 118px;
  height: 6px;
  left: 50%;
  margin-left: -59px;
  bottom: 6px;
}

.jd_banner ul:last-child li {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  border: 1px solid #fff;
  margin-left: 10px;
  float: left;
}

.jd_banner ul:last-child li:first-child {
  margin-left: 0;
}

.jd_banner ul:last-child li.now {
  background: #fff;
}

/* 导航 */
.jd_nav {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.jd_nav ul {
  width: 100%;
}

.jd_nav ul li {
  width: 25%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.jd_nav ul li a {
  display: block;
  width: 100%;
}

.jd_nav ul li a img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.jd_nav ul li a p {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 5px 0;
}

/* 产品区块 */
.jd_product {
  padding: 0 5px;
}

/* 产品盒子 */

.jd_product_box {
  margin-top: 10px;
  box-shadow: 0 0 2px #ccc;
  min-height: 200px;
}

.jd_product_box .tit {
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #ddd;
}

.jd_product_box .tit.nb {
  border-bottom: none;
}

.jd_product_box .tit h3::before {
  content: "";
  width: 3px;
  height: 12px;
  background: #d8505c;
  position: absolute;
  top: 10px;
  left: 10px;
}

.jd_product_box .tit h3 {
  font-weight: normal;
  position: relative;
  padding-left: 23px;
}

/* 秒杀 */
.sk div.f_right {
  margin-right: 20px;
}

.sk .icon {
  width: 16px;
  height: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  background: url("../images/seckill-icon.png") no-repeat center/16px 20px;
}

.sk .name {
  float: left;
  margin-left: 10px;
  font-size: 16px;
  color: #d8505c;
}

.sk .time {
  float: left;
  margin-left: 10px;
}

.sk .time span {
  float: left;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: #333;
  margin-left: 3px;
  margin-top: 8px;
}

.sk .time span:nth-child(3n) {
  width: 3px;
  color: #333;
  background: #fff;
}

.sk .pro {
  width: 100%;
  padding: 10px 0;
}

.sk .pro li {
  width: 33.3%;
  float: left;
}

.sk .pro li a {
  display: block;
  border-right: 1px solid #ddd;
}
.sk .pro li:last-child a {
  border-right: none;
}
.sk .pro li a img {
  display: block;
  margin: 0 auto;
  width: 64%;
}

.sk .pro li p {
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
}

.sk .pro li .nowPrice {
  color: #d8505c;
}

.sk .pro li .oldPrice {
  color: #666;
  text-decoration: line-through;
}

/* 组合样式的使用 */
.jd_product_box .con {
}

.w_50p {
  width: 50%;
}
.w_50p img {
  display: block;
  width: 100%;
}

.bl {
  border-left: 1px solid #eee;
}
.br {
  border-right: 1px solid #eee;
}
.bt {
  border-top: 1px solid #eee;
}
.bb {
  border-bottom: 1px solid #eee;
}
