.star-score .star {
  width: 0.27rem;
  height: 0.27rem;
  float: left;
  background-size: cover;
}

.star-score .fullStar {
  background-image: url(./img/fullstar.png);
}
.star-score .halfStar {
  background-image: url(./img/halfstar.png);
}
.star-score .nullStar {
  background-image: url(./img/gray-star.png);
}
