* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot?t=1569136780584'); /* IE9 */
  src: url('./font/iconfont.eot?t=1569136780584#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABlQAAAJOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApcawE2AiQDCAsGAAQgBYRtBzQblQXIDiVNkYiA4QJBRQTRfuxn7w5zaZ5FExkvgUqC2CiZUL6W8H7crz1EpDHMzhJiXk+3L76/E5pphCZmDUKBECE0aBhxOG0CBTIfKMe1N03qAuriQApob4y2cJFE3jB2wQs8T6DRqCphp10DExCrsKcF4k3g3BBb8CoKS9QLtQ1ri/hSoz59pE/gM/p+/OeIWJKazC65eOj0Qcuvaiclz1Qz7gMCHwFtrkHGMlCIm8bomQjBaBEao5EmwbEKg1/VVRXoxVE1gv11dn4zGIbcZ+J5/EdNJHisrvqB0UnvIfrda+97ldzVbAW53P14K8YXD/A+4ts8rvHmhvenSb1QwNgP609/zpNqtv4KTwvKv7QwCS0A1XaGvARhCN5qttedKQ3/9U0F/Ny0bkSWarsMs4P6PdmCP8Ib2FAMga1LReM1tib9Zypr1IgKsLPTz1Rlz+mToV7PBHudkQxZvWlioS6jRpNt1Kp3gEZLujc36UJFiNKARYsAod0dklbfyNp9EQv1GzV6/aJWe0Sg0V1k7NlkNoT4dordDPuQZxoJXk0lroHFx4VjmPPLbpoXRPQpTE0hgOwWWznRjVVMl1hgBjgHYwQRqimoC1yGZVlDOtVE7GUWnjG9zmolTTeyeDUF4p2gMDcG80E8piECL42KBO2Z+Mrnx2AcP5kb7airc07BKJPQO2JnYRtA7Jaqg+oe5RpTAMeBYQiEoDQKpAuMwmQyDaI3jxJhXowFPyGsq2N1mpGhUsv2cuXvdkAjW5XC6Zc1vghulWn+aVcDAA==')
      format('woff2'),
    url('./font/iconfont.woff?t=1569136780584') format('woff'),
    url('./font/iconfont.ttf?t=1569136780584') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('./font/iconfont.svg?t=1569136780584#iconfont') format('svg'); /* iOS 4.1- */
}
.icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  color: #14191e;
  font-family: '微软雅黑';
}
:root {
  --mainW: 1400px;
  --mainH: 670px;
  --color: rgba(26, 38, 49, 0.258);
}
.main {
  width: var(--mainW);
  height: var(--mainH);
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

/* 轮播图 */
.banner {
  width: 100%;
  height: var(--mainH);
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 2s ease-in-out;
}
.banner .banner-slide {
  float: left;
  width: var(--mainW);
  height: var(--mainH);
  transition: all 2s ease-in-out;
}
.tu1 {
  background-image: url(./img/cat.jpg);
}
.tu2 {
  background-image: url(./img/sit.jpg);
}
.tu3 {
  background-image: url(./img/water.jpg);
}

.button {
  position: absolute;
  width: 40px;
  height: 80px;
  left: 244px;
  top: 50%;
  margin-top: -40px;
  background-image: url(./img/箭头.png);
  background-position: center center;
  background-size: 40px 80px;
}
.next {
  left: auto;
  right: 0;
  top: 50%;
  margin-top: -40px;
}
.prev {
  transform: rotate(180deg);
}
.button:hover {
  background-color: var(--color);
}

.dots {
  position: absolute;
  right: 10px;
  bottom: 24px;
  line-height: 12px;
}

.dots span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color);
  margin-left: 10px;
  box-shadow: 0 0 0 5px #fff inset;
  cursor: pointer;
}

.dots span.active {
  background-color: #fff;
  box-shadow: 0 0 0 5px var(--color) inset;
}

/* 一级菜单 */
.nav-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 244px;
  height: var(--mainH);
  background-color: var(--color);
  z-index: 1;
}

/* 主菜单 */
.nav-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 244px;
  height: var(--mainH);
  background-color: var(--color);
  z-index: 2;
}

.content-item {
  height: 67px;
  line-height: 66px;
  padding: 20px 20px 0 20px;
  overflow: hidden;
}

.content-item a {
  display: block;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.197);
}
.content-item:last-child a {
  border-bottom: none;
}
.content-item i {
  float: right;
  font-weight: normal;
  margin-right: 30px;
}

.content-item:hover{
  background-color: var(--color);
}
/* 子菜单 */
.sub-menu {
  width: 930px;
  height: 668px;
  position: absolute;
  left: 244px;
  top: 0;
  background-color: #fff;
  z-index: 500;
  border: 1px solid #d9dde1;
  box-shadow: 2px 0 10px 0 #000;
}

.inner-box {
  width: 100%;
  height: 100%;
  background: transparent;
}
.sub-inner-box {
  width: 752px;
  margin-left: 40px;
  overflow: hidden;
}
.sub-inner-box h3 {
  font-size: 16px;
  color: #f01414;
  line-height: 16px;
  font-weight: bold;
  margin: 40px 0 30px 0;
}

.sub-row {
  margin-bottom: 30px;
}
.sub-row span:nth-of-type(1) {
  margin-right: 20px;
}

.sub-row a {
  margin: 0 10px;
}
.sub-row a:hover {
  color: #f01414;
}
.hide {
  display: none;
}
