/* 导航*/
.ct_nav {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.ct_nav a{
    float: left;
    width: 33.333%;
}

.ct_nav a  img{
    display: block;
    width: 100%;
}

/* 商品 */
.ct_product{
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;

}
.ct_product .item{
    display: block;
    float: left;
    width: 48%;
    text-align: center;
    padding:10px;
    margin-top: 10px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
.ct_product .item:nth-child(even){
    margin-left: 4%;
}
.ct_product .item img{
    width: 100%;
}

.ct_product .item span:first-child{
    color: red;
}

.ct_product .item span:last-child{
    color: grey;
    text-decoration: line-through;
}