.search-bar {
    width: 100%;
    height: 1.243rem;
    position: absolute;
}

.search-bar .bar-location {
    float: left;
    border-radius: 0.87rem;
    background-color: rgba(0, 0, 0, 0.33);
    width: 2.703rem;
    height: 0.811rem;
    font-size: 0.432rem;
    margin-top: 0.27rem;
    margin-left: 0.27rem;
}

.search-bar .location-icon {
    width: 0.432rem;
    height: 0.432rem;
    margin-left: 0.189rem;
    margin-top: 0.125rem;
    display: inline-block;
    background: url('../img/locationIcon.png') no-repeat center;
    background-size: contain;
}
.search-bar .location-text {
    display: inline-block;
    color: #fff;
}
.search-bar .location-text::after {
    content: '>';
    height: 1rem;
    display: inline-block;
    line-height: 0.9rem;
    margin-left: 0.135rem;
}
.search-bar .search-btn {
    position: absolute;
    right: 0.541rem;
    bottom: 0.189rem;

    transition: all 0.8s;
}
.search-bar .place-holder {
    width: 5.108rem;
    height: 0.811rem;
    line-height: 0.811rem;
    background-color: #fff;
    border-radius: 0.432rem;
    border: none;
    outline: none;
    font-size: 0.432rem;
    text-indent: 0.676rem;
    transition: width 0.5s;
}
.search-bar .search-btn::before {
    content: '';
    display: block;
    position: absolute;
    width: 0.406rem;
    height: 0.406rem;
    background: url('../img/searchIcon.png') no-repeat center;
    background-size: contain;
    left: 0.246rem;
    top: 0.513rem;
}

.header-active .bar-location {
    display: none;
}
.header-active .search-btn {
    width: 90%;
}
.header-active .search-btn .place-holder {
    width: 100%;
}
.header-active .search-btn::before {
    left: 0.189rem;
}
