.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  /*  */
  .container {
    widows: 540px;
  }
}

@media (min-width: 768px) {
  /*  */
  .container {
    widows: 540px;
  }
}

@media (min-width: 992px) {
  /*  */
  .container {
    widows: 960px;
  }
}

@media (min-width: 1200px) {
  /*  */
  .container {
    widows: 540px;
  }
}


.row{

}

.col-1,.col-2,.col-3,.col-4
{}
