/* 字体声明 */
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot?t=1570360899016'); /* IE9 */
  src: url('../font/iconfont.eot?t=1570360899016#iefix')
      format('embedded-opentype'),
    url('../font/iconfont.woff?t=1570360899016') format('woff'),
    url('../font/iconfont.ttf?t=1570360899016') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('../font/iconfont.svg?t=1570360899016#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 复用css */
.fl {
  float: left;
}

.fr {
  float: right;
}

.link {
  text-decoration: none;
  color: #4d555d;
}
.link:hover {
  color: #f01414;
}
.transition {
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  width: 1200px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.text-red {
  color: #f01414;
}

.cf::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}

/* 过渡效果 */
.fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
}
.slideUpDownCollapse {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.slideLeftRightCollapse {
  width: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* 固定布局 */
.nav {
  height: 45px;
  line-height: 45px;
  background-color: #f3f4f7;
}

/* 组件固定样式 */

/* 下拉组件样式 */
.dropdown {
  position: relative;
}

.dropdown-layer {
  position: absolute;
  top: 100%;
  display: none;
  z-index: 3;
  overflow: hidden;
}

.dropdown-left {
  left: 0;
  right: auto;
}

.dropdown-right {
  right: 0;
  left: auto;
}

.dropdown-toggle {
  position: relative;
  z-index: 4;
}
.dropdown-arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  font-size: 8px;
  line-height: 8px;
}

.dropdown-loading {
  background: url(../img/loading.gif) center no-repeat;
}

/*floor*/
.floor {
  height: 533px;
  margin-bottom: 10px;
}
.floor-last {
  margin-bottom: 32px;
}
.floor .container {
  position: relative;
  z-index: 1;
}

.floor-head {
  height: 68px;
  border-bottom: 1px solid #f01414;
}
.floor-title {
  margin-top: 22px;
}
.floor-title-num {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #07111b;
  margin-right: 12px;
  color: #fff;
  text-align: center;
}
.floor-title-text {
  position: relative;
  top: 3px;
  color: #07111b;
  font-size: 20px;
}
.floor-body {
  height: 464px;
}
.floor-item {
  width: 200px;
  height: 232px;
  text-align: center;
}
.floor-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.floor-item-pic {
  margin-top: 24px;
}
.floor-item-name {
  margin-top: 24px;
}
.floor-item-name .link {
  color: #07111b;
}
.floor-item-price {
  margin-top: 11px;
  color: #f01414;
  font-size: 14px;
  font-weight: bold;
}

.floor-head .tab-item-wrap {
  height: 62px;
  line-height: 62px;
  margin-top: 7px;
}
.floor-head .tab-item {
  display: inline-block;
  margin-right: 16px;
  color: #93999f;
  font-size: 14px;
}
.floor-head .tab-item-active {
  background: url(../img/floor-arrow.png) no-repeat center bottom;
  color: #f01414;
}
.floor-divider {
  width: 1px;
  height: 14px;
  background-color: #d9dde1;
  margin: 22px 16px 0 0;
}
.floor-head .tab-panel {
  height: 100%;
}

/*elevator*/
.elevator {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -90px;
  margin-left: -640px;
}
.elevator-item {
  display: block;
  width: 24px;
  height: 35px;
  line-height: 35px;
  border-top: 1px solid #d9dde1;
  text-align: center;
  color: #4d555d;
}
.elevator-item:hover,
.elevator-active {
  color: #f01414;
}
.elevator-text {
  display: none;
}
.elevator-item:hover .elevator-num,
.elevator-active .elevator-num {
  display: none;
}
.elevator-item:hover .elevator-text,
.elevator-active .elevator-text {
  display: block;
}

/*toolbar*/
.toolbar {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 50%;
  margin-top: -102px;
}
.toolbar-item {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 1px;
  color: #fff;
  text-align: center;
}
.toolbar-icon {
  position: relative;
  z-index: 2;
  display: block;
  background-color: #b7bbbf;
  font-size: 30px;
}
.toolbar-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 40px;
}
.toolbar-item:hover .toolbar-icon {
  background-color: #71777d;
}
.toolbar-item:hover .toolbar-text {
  left: -62px;
  background-color: #71777d;
}
