@import './reset.scss';
@import './variables.scss';

$baseFontSize: 17px;
$redColor: #d43d3d;
$assetsDir: '/assets/';
.header {
  height: 45px;
  background-color: $redColor;
  .title_logo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: {
      position: center;
      size: contain;
      repeat: no-repeat;
      image: url('#{$assetsDir}logo.png');
    }
  }
}

.top_bar {
  background-color: #f4f5f6;
  height: 34px;
  overflow-x: auto;
  overflow-y: hidden;
  .top_menu_list {
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    display: inline-block;
  }
  .btn {
    padding: 8px;
    display: inline-block;
    font-size: $baseFontSize;
    &.cur {
      color: $redColor;
    }
  }
}
