/* 公用的样式 */

.go {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 999;
}

.more {
    position: fixed;
    z-index: 999;
    bottom: 60px;
    right: 60px;
    animation: more 0.3s linear infinite alternate;

}

.content {
    width: 900px;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -450px;
}

.screen1 {
    background: url("../images/01-bg.png") no-repeat center bottom;
}

.screen1 .goods {
    text-align: center;
    margin-top: 230px;
}

.screen1 .sofa {
    position: absolute;
    left: 200px;
    top: 200px;
    animation: sofa 0.8s linear infinite alternate;
}

.screen1 .fly {
    position: absolute;
    right: -50px;
    top: 20px;
    /* 调用 */
    animation: fly01 2s linear infinite alternate;
    /*无限来回播放 */
}

@keyframes fly01 {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(30px);
    }
}

@keyframes more {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes sofa {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

/* 第二屏 */

.screen02 {
    background: url("../images/02-bg.png") no-repeat center bottom;
}

.screen02 .goods {
    position: absolute;
    left: 50%;
    bottom: 210px;
    margin-left: -220px;
    transform: scale(0)
}

.screen02 .sofa {
    transform: scale(0.5);
    position: absolute;
    left: 292px;
    top: 131px;
    opacity: 0;
    z-index: 1001;
}

.screen02 .input {
    position: absolute;
    right: 171px;
    top: 120px;
    transform-origin: right top;
    opacity: 0;

}

.screen02 .input .key {
    position: absolute;
    left: 100px;
    top: 4px;
    opacity: 0;
}

.screen02 .text {
    text-align: center;
}

.screen02 .text .text02 {
    position: absolute;
    opacity: 0;
}

/* 第二屏动画 */

.screen02.now .text .text01 {
    position: absolute;
    opacity: 0;
}

.screen02.now .input {
    animation: input 3s linear forwards;
}

.screen02.now .text .text02 {
    position: static;
    opacity: 1;
    transition: opacity 2s;
}

.screen02.now .input .key {
    opacity: 1;
    transition: all 1s linear 1s
}

.screen02.now .goods {
    transform: none;
    transition: all 1s linear 2s
}

/* 1.搜索框右边出来 */
/* 中间显示 */
/* 商品动画显示 搜索框出现 */

@keyframes input {
    0% {
        /* 初始元素的样式 */
        opacity: 1;
        transform: translate(2000px, 130px)
    }

    33.3% {
        transform: translate(-180px, 130px)
    }

    66.6% {
        transform: translate(-180px, 130px)
    }

    100% {
        transform: scale(0.7);
        opacity: 1;
    }
}

/* 第三屏 */
/* 沙发动画 离开第二屏的时候 */
.screen02.leaved .sofa {
    animation: sofa02 1s linear;

}

@keyframes sofa02 {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translate(-80px, 830px);
    }
}

.screen03 {
    background: url("../images/03-bg.png") no-repeat center bottom;
}

.screen03 .sofa {
    position: absolute;
    left: 212px;
    top: 204px;
    z-index: 999;
    display: none;
}

.screen03 .change {
    position: absolute;
    right: 117px;
    bottom: 180px;
}

.screen03 .change img:last-child {
    position: absolute;
    opacity: 0;

}

.screen03 .cart {
    position: absolute;
    right: 192px;
    bottom: 100px;
}

.screen03 .cart img:last-child {
    position: absolute;
    opacity: 0;
}

.screen03.now .change img:first-child {
    display: none;
}

.screen03.now .cart img:first-child {
    display: none;
}

.screen03.now .change img:last-child {
    position: static;
    opacity: 1;
    transition: all 1s linear;
}

.screen03.now .cart img:last-child {
    position: static;
    opacity: 1;
    transition: all 1s linear;
}

.screen03.now .sofa {
    display: block;
}

/* 第四屏 */

/* 旋转坐标轴会跟着变,最好先位移后旋转 */
.screen03.leaved .sofa {
    animation: sofa03 1s linear;

}

@keyframes sofa03 {
    from {}

    to {
        transform: translate(183px, 720px) rotate(45deg);
    }
}

.screen04 {
    background: url("../images/04-bg.png") no-repeat center bottom;
}

.screen04 .cloud {
    position: absolute;
    left: -400px;
    top: -50px;
    animation: cloud04 20s linear alternate infinite;
}

@keyframes cloud04 {
    from {}

    to {
        transform: translateX(1000px)
    }
}

.screen04 .text {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.screen04 .text img:last-child {
    position: absolute;
    opacity: 0;
}

.screen04 .text.show img:first-child {
    position: absolute;
    opacity: 0;
}

.screen04 .text.show img:last-child {
    position: static;
    opacity: 1;
    transition: all 1s linear;
}

.screen04 .cart {
    text-align: center;
    margin-top: 70px;
    position: relative;
    z-index: 999;
}

.screen04 .sofa {
    position: absolute;
    top: 0px;
    left: 394px;
    transform: rotate(45deg);
    opacity: 0;

}

.screen04.now .sofa {
    opacity: 1;
    z-index: -1;
}

.screen04.now .cart {
    transition: transform 3s;
    transform: translateX(1000px)
}

.screen04 .address {
    position: absolute;
    width: 283px;
    height: 200px;
    left: 50%;
    bottom: 250px;
    transform: translateX(-50%);
    display: none;
}

.screen04 .address img:last-child {
    position: absolute;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: none;

}

/* 第五屏 */
.screen05 {
    background: url("../images/05-bg.png") no-repeat center bottom;
}

.screen05 .sofa {
    position: absolute;
    bottom: 100px;
    left: 100px;
    transform: rotate(30deg);
    opacity: 0;
    z-index: 998;
}

.screen05 .text {
    position: absolute;
    bottom: 600px;
    left: 0px;
}

.screen05 .card {
    position: absolute;
    left: 0px;
    bottom: 200px;
    z-index: 999;
}

.screen05 .card .cardImg {
    position: relative;
    z-index: 1;
}

.screen05 .card .orderImg {
    position: absolute;
    left: 100px;
    top: -80px;
    transform: translateY(80px)
}

.screen05 .mouse {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 400px;
    overflow: hidden;
}

.screen05 .mouse .m1,
.screen05 .mouse .m2 {
    position: absolute;
    bottom: 250px;
    right: 0;
    background-clip: border-box;
}

.screen05 .mouse .m2 {
    opacity: 0;
}

.screen05 .mouse .hand {
    position: absolute;
    bottom: 0px;
    right: 50px;
    transform: translateY(500px);
}

/* 动画 */

.screen05.now .mouse .hand {
    transition: all 1s;
    transform: none;
}

.screen05.now .mouse .m2 {
    transition: all 0.2s linear 1s;
    opacity: 1;
}

.screen05.now .sofa {
    animation: sofa05 2s linear 1.2s forwards;
}

@keyframes sofa05 {
    from {
        transform: translateY(-1000px) rotate(30deg);
        opacity: 1;
    }

    50% {
        transform: translateY(-110px) rotate(30deg);
    }

    100% {
        opacity: 1;
    }
}

.screen05.now .card .orderImg {
    transition: all 1s linear 2.2s;
    transform: none;
}

.screen05 .content {
    height: 100%;
}


/* 第六屏 */

.screen06 {
    background: url("../images/06-bg.png") no-repeat 25% bottom;
}

.screen06 .cloud {
    position: absolute;
    top: -150px;
    left: 0;
}

.screen06 .cloud:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

.screen06 .cloud:first-child {
    animation: cloud06 40s linear infinite alternate;
}

@keyframes cloud06 {
    from {}

    to {
        transform: translateX(1000px);
    }
}

.screen06 .text {
    position: absolute;
    top: 80px;
    left: 100px;
}

.screen06 .text img:last-child {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

.screen06 .box {
    position: absolute;
    top: 150px;
    left: 130px;
    z-index: 1002;
    transform: translateX(-500px);
}

.screen05.leaved .sofa {
    animation: sofa05-06 1s linear backwards;
}

@keyframes sofa05-06 {
    from {
        opacity: 1;
        transform: rotate(30deg);
    }

    to {
        transform: translateY(500px) scale(0.2) rotate(30deg);
        opacity: 1;
    }
}

.screen06 .box.show {
    animation: box06 2s linear forwards;
}

@keyframes box06 {
    from {
        transform: translateX(-500px)
    }

    50% {
        transform: none;
    }

    to {
        transform: translateY(320px) scale(0.2)
    }
}

.screen06 .car {
    position: absolute;
    bottom: 0;
    left: 120px;
    z-index: 1003;
}

.screen06 .car img {
    position: absolute;
    opacity: 0;
}

.screen06 .car .carImg {
    opacity: 1;
    position: relative;
}

.screen06 .car .address {
    left: 160px;
    top: -50px;
}

.screen06 .car .buyer {
    left: 160px;
    top: -50px;
}

.screen06.now .car .address {
    transition: all 0.25s 1.75s;
    opacity: 1;
}

.screen06.now .car .buyer {
    transition: all 0.25s 1.25s;
    opacity: 1;
}

.screen06.now .car .worker {
    left: 0;
    bottom: 0;
    transform: scale(0);
    transform-origin: bottom left;
    animation: worker06 1s linear 2s forwards;
}

@keyframes worker06 {
    from {
        opacity: 1;
        transform: scale(0);
    }

    33.3% {
        transform: scale(1)
    }

    66.7% {
        transform: scale(1) translateY(-100px)
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(-100px) translateX(100px)
    }
}

.screen06 .car .say {
    right: -190px;
    bottom: 400px;
}

.screen06.now .car .say {
    opacity: 1;
    transition: all 0.5s linear 4.1s;
}

.screen06 .person {
    position: absolute;
    width: 106px;
    height: 150px;
    bottom: 0;
    right: 0;
}

.screen06 .person .personImg {
    position: absolute;
    right: 50px;
    bottom: 102px;
    transform: scale(0);
    transform-origin: right bottom;
    z-index: 999;
}

.screen06 .person .door {
    position: absolute;
    right: 15px;
    bottom: 116px;
    opacity: 0;
}

.screen06.now .person .door {
    opacity: 1;
    transition: all 0.5s linear 4.6s
}

.screen06.now .person .personImg {
    transform: none;
    right: 200px;
    transition: transform 0.5s linear 5s, right 0.5s linear 5.5s;
}

.screen06.now .text img:first-child {
    opacity: 0;
    transition: all 0.1s linear 4.6s
}

.screen06.now .text img:last-child {
    opacity: 1;
    transition: all 0.5s linear 4.6s
}

.screen06.now {
    transition: background 1s linear 1s;
    background: url("../images/06-bg.png") no-repeat 100% bottom;
}

/* 第七屏 */
.screen07 {
    background: url("../images/07-bg.png")no-repeat center bottom;
}

.screen07 .star {
    position: absolute;
    left: 155px;
    top: 139px;

}

.screen07 .star img {
    padding: 1px;
    display: none;
}

.screen07 .text {
    position: absolute;
    left: 166px;
    top: 178px;
    opacity: 0;
    transform-origin: left bottom;
    transform: scale(0);
}

.screen07 .text.show {
    /* transition: all 1s linear 2s;
    transform: none; */
    opacity: 1;
    animation: text07 1.5s linear 2.3s forwards;
}

@keyframes text07 {
    from {}

    70% {
        transform: scale(1.2)l
    }

    to {
        transform: none;
    }
}

/* 第八屏 */
.screen08 {
    background: url("../images/08-bg.png");
    position: relative;
}

.screen08 .btn {
    width: 389px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen08 .btn img:last-child {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.screen08 .btn:hover img:last-child {
    opacity: 1;
}

.screen08 .again {
    position: absolute;
    right: 200px;
    bottom: 700px;
    cursor: pointer;
}

.screen08 .hand {
    position: absolute;
    left: 0;
    top: 0;
}