<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>传淘</title>
    <meta
      name="description"
      content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布..."
    />
    <meta
      name="Keywords"
      content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦"
    />
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="res/mui/css/mui.css" />
    <link rel="stylesheet" href="res/fontAwesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/product.css" />
  </head>
  <body>
    <!-- 主页内容 -->

    <div class="ct_container">
      <header class="ct_header">
        <a href="javascript:history.back();" class="left"
          ><span class="fa fa-arrow-left"></span
        ></a>
        <h3>商品详情</h3>
        <a href="javascript:;" class="right"
          ><span class="mui-icon mui-icon-loop"></span
        ></a>
      </header>
      <div class="ct_content">
        <div class="ct_wrapper">
          <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <!-- TODO: -->
              <span class="mui-icon mui-icon-spinner mui-spin"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="ct_trade">
        <a href="user/cart.html" class="mui-btn mui-btn-link">去购物车</a>
        <div class="mui-pull-right">
          <a href="javascript:;" class="mui-btn mui-btn-danger">加入购物车</a>
          <a href="javascript:;" class="mui-btn mui-btn-warning">立即购买</a>
        </div>
      </div>
    </div>
    <script type="text/artTemplate" id="detail">
      <div class="mui-slider">
        <div class="mui-slider-group mui-slider-loop">
            <% if(!pic || pic.length == 0) {
              pic = [{'picAddr':'/m/images/none.png'}];
          } %>
          <div class="mui-slider-item mui-slider-item-duplicate">
              <a href="javascript:;"><img src="<%=pic[pic.length-1].picAddr%>" /></a>
          </div>
          <% for(var i = 0 ; i < pic.length ; i ++ ){ %>
              <div class="mui-slider-item <%=i==0?'mui-active':''%>">
                  <a href="javascript:;"><img src="<%=pic[i].picAddr%>" /></a>
              </div>
          <% } %>
          <div class="mui-slider-item mui-slider-item-duplicate">
              <a href="javascript:;"><img src="<%=pic[0].picAddr%>" /></a>
          </div>
      </div>
      <div class="mui-slider-indicator">
          <% for(var i = 0 ; i < pic.length ; i ++ ){ %>
          <div class="mui-indicator <%=i==0?'mui-active':''%>"></div>
          <% } %>
        </div>
      </div>
      <!--名称-->
    <div class="ct_item">
        <strong class="mui-ellipsis-2"><%=proName%></strong>
    </div>
    <!--价格-->
    <div class="ct_item">
        价格：
        <span class="now">&yen;<%=price%></span> <del class="old">&yen;<%=oldPrice%></del>
    </div>
    <!--尺码-->
    <div class="ct_item">
        尺码：
        <%
            var arr = (size||'40-50').split('-');
            var start = arr[0],end = arr[1];
            for( var i = start ; i <= end ; i ++ ){
        %>
            <span class="size"><%=i%></span>
        <% } %>
    </div>
    <!--数量-->
    <div class="ct_item">
        数量：
        <div class="mui-numbox" data-numbox-min="1" data-numbox-max="<%=num%>">
            <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
            <input class="mui-input-numbox" type="number" value="1">
            <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
        </div>
        <span class="num">剩余数量：<%=num%> 双</span>
    </div>
    <!--描述-->
    <div class="ct_item">
        详情：<%=proDesc%></span>
    </div>
    </script>
    <script src="assets/mui/js/mui.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="res/artTemplate/template-native.js"></script>
    <script src="js/common.js"></script>
    <script src="js/product.js"></script>
  </body>
</html>
