<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>传淘</title>
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="res/mui/css/mui.min.css" />
    <link rel="stylesheet" href="res/fontAwesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/searchList.css" />
    <link rel="stylesheet" href="css/search.css" />
  </head>
  <body>
    <!-- 主页内容 -->
    <div class="ct_container">
      <header class="ct_header">
        <a href="javascript:history.back();" class="left"
          ><span class="fa fa-arrow-left"></span
        ></a>
        <h3>搜索中心</h3>
        <a href="javascript:;" class="right"
          ><span class="fa fa-search"></span
        ></a>
      </header>
      <div class="ct_content">
        <div class="ct_wrapper">
          <div class="mui-scroll-wrapper" id="refreshContainer">
            <div class="mui-scroll">
              <!-- 搜索模块 -->
              <div class="ct_search">
                <!-- 在移动端 调用输入法的时候 enter 变成 搜索按钮 -->
                <form action="#">
                  <input type="search" placeholder="搜索你喜欢的商品" />
                  <a href="javascript:;">搜索</a>
                </form>
              </div>
              <!-- 搜索历史区域 -->
              <div class="ct_order">
                <a href="javascript:;" data-type="time"
                  >上架时间<span class="fa fa-angle-down"></span
                ></a>
                <a data-type="price" href="javascript:;"
                  >价格<span class="fa fa-angle-down"></span
                ></a>
                <a data-type="num" href="javascript:;"
                  >库存<span class="fa fa-angle-down"></span
                ></a>
                <a href="javascript:;" data-type="makeup"
                  >折扣<span class="fa fa-angle-down"></span
                ></a>
              </div>
              <div class="ct_product"></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="ct_footer">
        <a class="tab_home fa fa-home " href="index.html"><span>首页</span></a>
        <a class="tab_cate fa fa-bars now" href="category.html"
          ><span>分类</span></a
        >
        <a class="tab_cart fa fa-shopping-cart" href="cart.html"
          ><span>购物车</span></a
        >
        <a class="tab_user fa fa-user" href="user/index.html"
          ><span>会员中心</span></a
        >
      </footer>
    </div>
    <script type="text/template" id="list">
      <% for(var i = 0 ; i < data.length ; i++){ %>
      <% var item = data[i]; %>
      <a class="item" href="product.html?productId=<%=item.id%>">
          <%
              var pic = item.pic,src = '';
              if( pic && pic.length ){
                  src =   pic[0].picAddr || '';
              }
          %>
          <img src="<%=src%>" onerror="this.src='images/none.png'" alt=""/>
          <span class="mui-ellipsis-2 mui-text-left"><%=item.proName%></span>
          <p><span>&yen;<%=item.price%></span> <span>&yen;<%=item.oldPrice%></span></p>
          <button class="mui-btn-blue">立即购买</button>
      </a>
      <% } %>
    </script>

    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="js/common.js"></script>
    <script src="js/searchList.js"></script>
  </body>
</html>
