$type: 'k';

//  if
div {
  @if $type == 's' {
    color: #000;
  } @else if $type == 'k' {
    color: #0f0;
  } @else {
    color: #00f;
  }
}

// for
$list: (1, 2, 3, 4);
@for $key from 1 through length($list) {
  .div#{$key} {
    z-index: $key;
  }
}

// while
$i: 0;

@while $i < 6 {
  .div_#{$i} {
    color: red;
  }
  $i: $i + 1;
}

// each
$map: (
  left: 1px,
  top: 2px
);
@each $key, $val in $map {
  .div.#{$key} {
    #{$key}: $val;
  }
}
