.cate_left {
    width: 90px;
    height: 100%;
    float: left;
    overflow: hidden;
}

.cate_left ul {
    width: 100%;
    height: 1000px;
    border-right: 1px solid #ccc;
}

.cate_left ul li {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background: #f3f4f5;
    border-bottom: 1px solid #ccc;
}
.cate_left ul li.now{
    background: #fff;


}
.cate_left ul li a {
    display: block;
    color: #333;
}
.cate_left ul li.now a{
    color: orange;
}


.cate_right {
    padding: 10px;
    overflow: hidden;
}
.cate_right ul{
    width: 100%;
}
.cate_right ul li{
    width: 33.333%;
    float: left;
}
.cate_right ul li a{
    display: block;
    width: 100%;
}
.cate_right ul li a img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
.cate_right ul li a p{
    text-align: center;
}