html,
body {
  width: 100%;
}

.jd_layout {
  width: 100%;
  height: 100%;
}

.jd_topBar {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ccc;
  background: url('../images/header-bg.png') no-repeat 0 0/1px 44px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.jd_topBar a {
  width: 40px;
  height: 44px;
  padding: 12px 10px;
  position: absolute;
  top: 0;
  background-origin: content-box;
  background-clip: content-box;
}

.jd_topBar .icon_back {
  left: 0;
  background-position: -20px 0;
}

.jd_topBar .icon_menu {
  right: 0;
  background-position: -60px 0;
}

.jd_topBar form {
  width: 100%;
  padding: 0 40px;
}

.jd_topBar form input {
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 7px;
  padding: 0 10px;
}

/* 占满剩余的高度 */

.jd_main {
  width: 100%;
  height: 100%;
  padding-top: 45px;
}

.jd_main .jd_cateLeft {
  width: 90px;
  height: 100%;
  float: left;
  overflow: hidden;
}

.jd_cateLeft ul {
  width: 90px;
}

.jd_cateLeft ul li {
  width: 90px;
  height: 40px;
  line-height: 50px;
  background: #f3f4f5;
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.jd_cateLeft ul li.now {
  border-right: none;
  background: #fff;
}
.jd_cateLeft ul li a {
  display: block;
  width: 100%;
}
.jd_cateLeft ul li.now a {
  color: #d8505c;
}

.jd_main .jd_cateRight {
  overflow: hidden;
  height: 100%;
}
.jd_cateRight_box {
  width: 101%;
  padding: 0 10px;
}
.jd_cateRight_box .banner {
  width: 100%;
  display: block;
  margin-top: 10px;
}
.jd_cateRight_box .banner img {
  width: 100%;
  display: block;
}
.jd_cateRight_box .hot {
  margin-top: 10px;
}
.jd_cateRight_box .hot h3 {
  font-size: 12px;
}
.jd_cateRight_box .hot ul {
  width: 100%;
}
.jd_cateRight_box .hot ul li {
  width: 33.3333%;
  float: left;
  padding-top: 5px;
}
.jd_cateRight_box .hot ul li a {
  display: block;
  width: 100%;
}
.jd_cateRight_box .hot ul li a img {
  width: 62px;
  height: 62px;
  display: block;
  margin: 0 auto;
}
.jd_cateRight_box .hot ul li a p {
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
}
