* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #71b280,
    #134e5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #71b280,
    #134e5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  .header {
    height: 20%;
    width: 100%;
    background: #5c258d; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4389a2,
      #5c258d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4389a2,
      #5c258d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    text-shadow: 0 0 2px #eee;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .article {
    display: flex;
    .img {
      order: 1;
    }
    p {
      justify-content: space-around;
      font-size: 1.2rem;
      line-height: 1.5;
      text-align: justify;
      padding: 15px;
    }
  }
  .footer {
    clear: both;
    height: 20%;
    width: 100%;
    background: #2bc0e4; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #eaecc6,
      #2bc0e4
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaecc6, #2bc0e4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: right;
    p {
      margin-right: 10%;
      a {
        text-decoration: none;
        &:link {
          color: white;
        }
      }
    }
  }
}
