* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
}

/* 左一列固定栏 */
.nav-l {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100px;
  min-height: 1020px;
  height: 100%;
  background-color: #1d2531;
}

.nav-l-t {
  list-style: none;
}
.nav-l-t li {
  position: relative;
  margin: 20% auto;
  min-width: 60px;
  min-height: 60px;
  width: 4%;
  height: 4%;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.nav-l-t li:nth-child(1) {
  background-color: #1991eb;
  background-image: url(./img/Item1.png);
}
.nav-l-t li:nth-child(2) {
  background-color: #7f5be6;
  background-image: url(./img/Item2.png);
}
.nav-l-t li:nth-child(3) {
  background-color: #f45438;
  background-image: url(./img/Item3.png);
}
.nav-l-t li:nth-child(4) {
  border: solid 3px #2d3848;
}

.choose::after {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #2399f1;
  background-color: #2399f1;
}

/* 加号 */
.nav-l-t li:nth-child(4)::before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #2d3848;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-l-t li:nth-child(4)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 20px;
  background-color: #2d3848;
}

.nav-l-b {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  line-height: 130px;
  text-align: center;
  word-spacing: 10px;
}
.nav-l-b img {
  width: 16px;
  height: 16px;
}

/* 左二列固定栏 */
.nav-m {
  position: fixed;
  left: 100px;
  top: 0;
  bottom: 0;
  min-width: 250px;
  min-height: 1020px;
  height: 100%;
  background-color: #222c3c;
}

.nav-m-t {
  margin: 30px;
}
.nav-m-t dl {
  border-bottom: 1px solid #2a3547;
}
.nav-m-t dl:nth-last-child(1) {
  border: none;
}
.nav-m-t dl dt {
  color: #5b6779;
  font-size: 12px;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
}
.nav-m-t dl dt::after {
  content: '';
  position: absolute;
  right: 0;
  height: 16px;
  width: 16px;
  background-image: url(./img/Settings.png);
}

.nav-m-t dl dd {
  margin-bottom: 10px;
  position: relative;
}
.nav-m-t-icon i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.nav-m-t-icon dd:nth-of-type(1) i {
  background: url(./img/BookofWisdom.png) center center no-repeat;
}
.nav-m-t-icon dd:nth-of-type(2) i {
  background: url(./img/Chart.png) center center no-repeat;
}
.nav-m-t-icon dd:nth-of-type(3) i {
  background: url(./img/Painting.png) center center no-repeat;
}
.nav-m-t-icon dd:nth-of-type(4) i {
  background: url(./img/VideoCamera.png) center center no-repeat;
}
.nav-m-t dl dd > a {
  color: #b7c0cd;
  font-size: 14px;
  vertical-align: center;
}

.choose-2 > a {
  color: #fff !important;
}
.choose-2::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 12px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #2399f1;
  background-color: #2399f1;
}

.nav-m-t-info::after {
  content: '52';
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 24px;
  border-radius: 12px;
  background-color: #1991eb;
  color: #fff;
  text-align: center;
  line-height: 24px;
}
.zhi.nav-m-t-info::after {
  content: '21';
}
.nav-m-t-warning::after {
  content: '!';
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #cb270a;
  color: #fff;
  text-align: center;
  line-height: 24px;
}
.nav-m-b {
  position: fixed;
  bottom: 10px;
  left: 250px;
  transform: translate(-50%, 0);
}
.nav-m-b p {
  color: #fff;
  width: 250px;
}
.nav-m-progress {
  position: relative;
  width: 190px;
  height: 4px;
  background-color: #475364;
  border-radius: 2px;
  font-family: ProximaNova-Semibold;
  font-size: 14px;
  margin-top: 10px;
}
.nav-m-progress::before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  background-image: linear-gradient(90deg, #7f5be6 1%, #9d8fe3 100%);
  border-radius: 2px;
}

/* nav-top */
.nav-t {
  position: sticky;
  top: 0;
  left: 350px;
  width: calc(100% - 350px);
  height: 80px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 999;
  background-color: #fff;
}
.nav-t-l {
  float: left;
  line-height: 80px;
  margin-left: 20px;
}
.nav-t-r {
  float: right;
  position: relative;
  width: 200px;
  margin-top: 10px;
}
.nav-t-img {
  float: left;
  margin-right: 20px;
}
.nav-t-name {
  letter-spacing: 0px;
  color: #2399f1;
  font-size: 16px;
}
.nav-t-description {
  font-size: 14px;
  letter-spacing: 0px;
  color: #b5b5b5;
}
.nav-t-arrow {
  position: absolute;
  top: 18px;
  right:0px;
  height: 20px;
  width: 20px;
  display: block;
  transform: rotate(90deg);
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: #aaa;
}
